<?xml version="1.0" encoding="utf-8"?>
<UI xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Layers>
    <Layer>
      <Name>root:Root</Name>
      <Type>Root</Type>
      <Id>0</Id>
      <x>512</x>
      <y>512</y>
    </Layer>
    <Layer>
      <Name>TestUI</Name>
      <Layer>
        <Name>img:panel2</Name>
        <Type>Image</Type>
        <Id>1</Id>
        <x>495.5</x>
        <y>465.5</y>
      </Layer>
      <Layer>
        <Name>btn:TestBtn</Name>
        <Type>Button</Type>
        <Id>2</Id>
        <x>478</x>
        <y>470</y>
      </Layer>
    </Layer>

  </Layers>
</UI>

